<h2>Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-8 offset-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-2">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="row">
    <div class="col-8 offset-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  </div>
  <% end -%>

  <div class="row mt-4 pt-4">
    <div class="col-8 offset-2">
      <button class="btn btn-outline-info my-2 my-sm-0 form-control" type="submit"> Entrar </button>
    </div>
  </div>
<% end %>

<%= render "stores/shared/links" %>
